@media (min-width: 1281px) {
    /**  Navbar outside   **/
    .nav__container {
        width: auto;
        height: 155px;
        background: var(--gray-darken);
    }

    .nav__wrapper {
        margin:0px 147px 0 133px;
    }

    a.nav__sidenav_t.sidenav-trigger.show-on-large.right {
        font-size: 1.5rem;
        margin: 47px 0 0 0;
    }

    .nav__outside {
        margin-top: 47px;
    }

    .nav__out1 {
        font-size: 1.5rem;
    }

    .nav__out1:hover,.nav__out3:hover{
        background-color: rgba(0, 0, 0, 0)
    }

    .nav__out2 {
        font-size: 2rem;
        color: var(--soft-gray);
    }

    .nav__out3 {
        font-size: 1.3rem;
        color: var(--soft-gray);
    }

    /**  Navbar inside  **/
    ul.nav__inside {
        width: 20%;
    }

    .nav__butonUp:hover {
        background-color: var(--soft-white);
    }

    .nav__butonIn:hover {
        background-color: var(--soft-white-transparent);
    }

    ul.nav__inside li a {
        font-size: 1.2rem;
    }

    .nav__butonUp, .nav__butonIn {
        font-weight: 600;
    }

    .nav__li-text3 { 
        margin-left: 20px;
    }

    ul.nav__inside li a:hover {
        background-color: rgba(0, 0, 0, 0)
    }

    /** CS Slider initial **/
    .cs__al-container{
        width: 85%;
        max-width:85%;
        margin: 0 auto;
    }

    .cs-sliderIn-img {
        width: 100%;
        height: auto;
    }

    /** cards sed lorem and amet magna **/
    .row.cs_desktop {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .cs__title-1, .cs__title-2 {
        font-size: 2.2rem;
    }

    .cs__text-cotent-1, .cs__text-cotent-2 {
        font-size: 1.2rem;
        color: var(--white);
        font-weight: lighter;
    }
    a.cs__more-1,  a.cs__more-2 {
        width: 19%;
        height: 50px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .cs__more-1, .cs__more-2{
    color: var(--white);
    }

    a.cs__more-1:hover{
        box-shadow:none;
        color:var(--hover-soft-green);
    } 

    a.cs__more-2:hover{
        box-shadow:none;
        color: var(--white);
        background:var(--hover-soft-green--);
    } 

    a.cs__text-cotent-2 {
        width: 23%;
        margin: 0 auto;
        background: var(--grass-green);
    }

    .row.cs__row {
        height: 100%;
        position: relative;
    }

    .col.s12.m6.l12.cs_card-1-content {
        top: 0;
        left: 0;
        height: 50%;
        position: absolute;
    }

    .col.s12.m6.l12.cs_card-2-content {
        left: 0;
        top: 50%;
        height: 50%;
        width: 100%;
        position: absolute;
    }
    .cs__first-card, .cs__second-card {
        width: 100%;
        padding: 93px;
    }
    /** lorem ipsum dolor **/
    .lid__text-content-1, .lid__text-content-2 {
        border-style: none;
    }

    .lid__first-card,
    .lid__second-card{
         border-right: 1px solid var(--line-gray) ;
    }

    .lid__icons-circle {
        padding: 44px;
        border-radius: 74px;
        margin-bottom: 43px;
    }

    .lid__description {
        font-size: 1.1rem;
    }

    .lid__text-content-2, .lid__text-content-3 {
        font-size: 1.1rem;
    } 
    
    /* slider magna tempus  section */
    .slimt__img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .slimt__text {
        padding: 10px 91px 45px;
    }

    .slimt_p {
        padding: 100px 170px;
    }
    
    .slimt__arrows {
        position: relative;
    }

    .slimt__prev {
        top: 50%;
        left: 11%;
        border: 0;
        z-index: 2;
        width: 50px;
        height: 43px;
        background: none;
        position: absolute;
        color: var(--soft-white);
    }

    .slimt__next {
        top: 50%;
        border: 0;
        right: 11%;
        z-index: 2;
        width: 50px;
        height: 43px;
        background: none;
        position: absolute;
        background-color: none;
        color: var(--soft-white);
    }

    i.fa.fa-chevron-left.fa-4x.prev.slick-arrow:hover,
    i.fa.fa-chevron-right.fa-4x.next.slick-arrow:hover  {
        cursor: pointer;
        color: var(--white);
    }

    button.slimt__prev.hide-on-small-only:focus,
    button.slimt__next.hide-on-small-only:focus {
        outline: none;
        background-color: inherit;
    }

    /** sed tempus aliquam section **/
    .sta__title.center {
        margin: 0;
        font-size: 2.1rem;
        padding-top: 90px;
        color: var(--gray-darken);
    }
    .sta__wrapper-one {
        display: flex;
        flex-direction: row-reverse;
    }
    .col.s12.m12.l8.cs__p {
        padding: 0;
    }
    
    .col.s12.m12.l4.cs__p2 {
        padding: 0;
    }

    a.sta__more-1 {
        width: 30%;
        height: auto;
        max-width: 30%;
        box-shadow: none;
        font-size: 0.8rem;
        margin-bottom: 51px;
    }

    a.sta__more-1:hover,
    a.sta__more-2:hover {
        background-color: var(--gray-body);
        color: var(--white);
    }

    a.sta__more-2 {
        width: 15%;
        height: auto;
        max-width: 15%;
        box-shadow: none;
        font-size: 0.8rem;
        margin-bottom: 51px;
    }

    .card__one-wrapper {
        display: flex;
        padding: 33px;
        box-shadow: none;
        align-items: center;
        flex-direction: column;
    }

    .card__two-wrapper {
        padding: 8px;
        display: flex;
        box-shadow: none;
        align-items: center;
        flex-direction: column;
    }

    .sta__image-one,
    .sta__image-two {   
     box-shadow: none;
    }

    .sta__all-cards{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .sta__pb {
        padding-bottom: 6%;
    }

    /** get notified  section  **/
    .gn__wrapper {
        padding: 5% 28%;
    }

    .gn__title {
        padding-top: 0%;
        font-size: 1.8rem;
    }

    .gn__form {
        display: flex;
        flex-direction: row;
    }

    div input.gn__label.valign-wrapper {
        width: 90%;
        height: 40px;
        padding: 0% 4%;
        margin-bottom: 0;
        font-size: 1.2rem;
        border-top-right-radius: 0;
        border-top-left-radius: 47px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 47px;
    }

    .gn__input {
        width: 29%;
        height: 40px;
        font-size: 1rem;
        margin-bottom: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gn__subtitle {
        margin-bottom: 8%;
        font-size: 1.2rem;
    }

      /** footer  **/
      .ftr__container {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    .ftr__wrapper {
        margin-top: 10%;
    }

    .col.s12.m6.l3.ftr__p0 {
        padding: 0%;
    }

    .col.s12.m6.l3.ftr__p0.ftr__lines.ftr__l-1,
    .col.s12.m6.l3.ftr__p0.ftr__l-2,
    .col.s12.m6.l3.ftr__p0.ftr__lines.ftr__l-3 {
        border-bottom: none;
        border-right: 1px solid var(--line-gray);
    } 

    a.ftr__a.frt__bor-1,
    a.ftr__a.frt__bor-2 {
        border-bottom: none;
    }

    a.ftr__a.frt__bor-3.ftr__bor-t{
        border-bottom: none;
    }

    .ftr__contact {
        padding: 4% 5% 0%;
    }

    .ftr__contact.center {
        display: flex;
        margin-bottom: 6%;
        justify-content: center;
    }

    .ftr__address,
    .ftr__phone-c {
        padding-right: 70px;
    }

    p.ftr__contacts.center {
        margin-bottom: 6%;
    }
    
}