@media (min-width: 1281px) {
    /**  Navbar outside   **/
    .nav__container {
        width: auto;
        height: 155px;
        background: var(--gray-darken);
    }

    .nav__wrapper {
        margin:0px 147px 0 133px;
    }

    a.nav__sidenav_t.sidenav-trigger.show-on-large.right {
        margin: 47px 0 0 0;
        font-size: 1.5rem;
    }

    .nav__outside {
        margin-top: 47px;
    }

    .nav__out1 {
        font-size: 1.5rem;
    }

    .nav__out1:hover,.nav__out3:hover{
        background-color: rgba(0, 0, 0, 0)
    }

    .nav__out2 {
        font-size: 2rem;
        color: var(--soft-gray);
    }

    .nav__out3 {
        font-size: 1.3rem;
        color: var(--soft-gray);
    }

    /**  Navbar inside  **/
    ul.nav__inside {
        width: 20%;
    }

    .nav__butonUp:hover {
        background-color: var(--soft-white);
    }

    .nav__butonIn:hover {
        background-color: var(--soft-white-transparent);
    }

    ul.nav__inside li a {
        font-size: 1.2rem;
    }

    .nav__butonUp, .nav__butonIn {
        font-weight: 600;
    }

    .nav__li-text3 { 
        margin-left: 20px;
    }

    ul.nav__inside li a:hover {
        background-color: rgba(0, 0, 0, 0)
    }

    /** CS Slider initial **/
    .cs__al-container{
        width: 85%;
        max-width:85%;
        margin: 0 auto;
    }

    .cs-sliderIn-img {
        width: 100%;
        height: auto;
    }

    /** cards sed lorem and amet magna **/
    .row.cs_desktop {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .cs__title-1, .cs__title-2 {
        font-size: 2.2rem;
    }

    .cs__text-cotent-1, .cs__text-cotent-2 {
        font-size: 1.2rem;
        color: var(--white);
        font-weight: lighter;
    }
    a.cs__more-1,  a.cs__more-2 {
        width: 19%;
        height: 50px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .cs__more-1, .cs__more-2{
    color: var(--white);
    }

    a.cs__more-1:hover{
        box-shadow:none;
        color:var(--hover-soft-green);
    } 

    a.cs__more-2:hover{
        box-shadow:none;
        color: var(--white);
        background:var(--hover-soft-green--);
    } 

    a.cs__text-cotent-2 {
        width: 23%;
        margin: 0 auto;
        background: var(--grass-green);
    }

    .row.cs__row {
        height: 100%;
        position: relative;
    }

    .col.s12.m6.l12.cs_card-1-content {
        top: 0;
        left: 0;
        height: 50%;
        position: absolute;
    }

    .col.s12.m6.l12.cs_card-2-content {
        left: 0;
        top: 50%;
        height: 50%;
        width: 100%;
        position: absolute;
    }
    .cs__first-card, .cs__second-card {
        width: 100%;
        padding: 93px;
    }
    /** lorem ipsum dolor **/
    .lid__text-content-1, .lid__text-content-2 {
        border-style: none;
    }

    .lid__first-card,
    .lid__second-card{
         border-right: 1px solid var(--line-gray) ;
    }

    .lid__icons-circle {
        padding: 44px;
        border-radius: 74px;
        margin-bottom: 43px;
    }

    .lid__description {
        font-size: 1.1rem;
    }

    .lid__text-content-2, .lid__text-content-3 {
        font-size: 1.1rem;
    } 
    /* slider magna tempus  section */
    .slimt__img {
        width: 74%;
        height: auto;
        margin: 0 auto;
    }
    

}