body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--gray-darken);
}

html {
 font-size: 62.5%;   
}

:root {
    --black:#000000;
    --white:#FFFFFF;
    --gray-body:#575B72;
    --soft-gray:#b0b0b0;
    --line-gray:#b3adad8c;
    --olive-green:#69C7AD;
    --gray-darken:#787878;
    --grass-green:#8ed4c0;
    --gray-darken:#4e5266;  
    --soft-green:#4ac4cbe0;
    --green-darken:#4CABB1;
    --soft-white:#ffffff55;
    --hover-soft-green:#50bdc4;
    --soft-two-green:#4ac4cb85;
    --soft-mustard-yellow:#FED586;
    --soft-white-transparent:#eeeeee21;
}

/**  Navbar outside  **/
.nav__container {
    width: auto;
    height: 60px;
    background: var(--gray-darken);
}

/**  Navbar inside  **/
ul.nav__inside {
    background-color: var(--green-darken);
}

.nav__icon-close {
    text-align: end;
    margin-right: 10px;
    color: var(--soft-white);
}

ul.nav__inside li a {
padding: 0;
color: var(--white);
font-weight:300;
}

.nav__li-text1,
.nav__li-text2 {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--soft-white);
}

.nav__li-text3 { 
    width: 90%;
    margin-left: 16px;
    margin-bottom: 10px;
}

.nav__butonUp,
.nav__butonIn {
    width: 91%;
    margin: 4%;
    height: 40px;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--white);
    border-radius: 22px;
    background: var(--soft-green);
}

.nav__butonUp {
    border: none;
    background: var(--soft-green);
}

.nav__butonIn {
    background: var(--green-darken);
    border: 1px solid var(--soft-white);
}

ul#mobile-demo {
    border: 0;
}

/** CS Slider initial **/
.cs-sliderIn-img {
    max-width: 100%;
    height: auto;
}

.col.s12.m12.l7.cs_out-styles-default {
    padding: 0;
}


.cs__al-container{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
} 

.col.s12.m12.l8.cs_out-styles-default {
    padding: 0;
}

/** cards sed lorem and amet magna **/
.cs__container{
    background: var(--gray-darken)
}

.cs__al-container{
    background:var(--white);
}

.lid__container {
    background: var(--gray-body);
}

.cs__first-card,
.cs__second-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.row .cs__row{
    margin: 0;
}

.cs_card-1-content{
    width: 100%;
    height: auto;
    color: var(--white);
    background-color: var(--green-darken);
}

.cs_card-2-content {
    width: 100%;
    height: auto;
    color: var(--white);
    background-color: var(--olive-green);
}

.cs__title-1,
.cs__title-2 {
    font-size: 1.5rem;
    margin-bottom: 29px;
}

.cs__text-cotent-1,
.cs__text-cotent-2 {
    margin-bottom: 44px;
}

div a.cs__more-1 {
    box-shadow:none;
    border-radius: 22px;
    background: var(--soft-two-green);
}

a.cs__more-2 {
    box-shadow:none;
    border-radius: 22px;
    background: var(--grass-green);
}

/** lorem ipsum dolor **/
h3.lid__title {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black);
    margin: 0;
    padding-top: 50px;
}

.lid__subtitle {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 52px;
}

.lid__first-card,
.lid__second-card,
.lid__third-card {
    margin-bottom: 50px;
}

.lid__icons-circle {
    padding: 20px;
    border-radius: 42px;
    display: inline-block;
    border: 1px solid var(--line-gray);
}

.lid__icon-1 {
   color: var(--green-darken);
}

.lid__icon-2 {
    color: var(--olive-green);
}

.lid__icon-3 {
    color: var(--soft-mustard-yellow);
}

.lid__tittle-text {
    font-weight: 600;
    font-size: 1.3rem;
}

.lid__text-content-1,
.lid__text-content-2 {
    padding: 0 20px 50px 20px;
    border-bottom: 1px solid var(--line-gray);
}

.lid__text-content-3 {
    padding: 0 20px 50px 20px;
}
/** slider magna tempus  section **/
.slimt__img {
    width: 100%;
    height: auto;
}

.slimt_p {
    padding: 20px;
    background: var(--soft-mustard-yellow);
}

.slimt__card-one,
.slimt__card-two,
.slimt__card-three {
    margin-bottom: 20px;
    background: var(--white);
}

h3.center.slimt__title {
    padding: 20px;
    font-size: 1.3rem;
}

.slimt__text {
    font-size: 1.1rem;
    padding: 10px 20px 45px;
}

/** sed tempus aliquam section **/
.sta__title.center {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 54px;
}

.sta__image-one,
.sta__image-two {
    width: 100%;
    height: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.sta__subtitle {
    margin: 0;
    font-size: 1.1rem;
    padding: 16px 0 37px;
}

.sta__title-card.center {
    font-size: 1.4rem;
}

.card__one-wrapper,
.card__two-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a.sta__more-1,
a.sta__more-2 {
    width: 80%;
    height: auto;
    max-width: 80%;
    box-shadow: none;
    font-size: 0.9rem;
    border-radius: 22px;
    color: var(--white);
    margin-bottom: 51px;
    background-color: var(--gray-body);
}

.sta__text {
    padding: 20px;
}

