@media only screen and (min-width: 768px) and (orientation: portrait) and (min-height: 1024px) {
    /**  Navbar outside  **/
    .nav__container {
        width: auto;
        height: 120px;
    }

    .nav__wrapper {
        margin: 0px 37px 0 28px;
    }

    .nav__outside {
        margin-top: 30px;
    }
    
    a.nav__sidenav_t.sidenav-trigger.show-on-large.right {
        margin: 30px 0 0 0;
        font-size: 1.5rem;
    }

    /** CS Slider initial **/
    .cs__al-container {
        width: 90%;
        max-width:90%;
        margin: 0 auto;
    }

    /** cards sed lorem and amet magna **/ 
    a.cs__more-1 {
        width: 34%;
        margin: 0 auto;
        box-shadow:none;
        border-radius: 22px;
        background: var(--soft-two-green);
    }

    a.cs__more-2  {
        width: 34%;
        margin: 0 auto;
        box-shadow:none;
        border-radius: 22px;
        background: var(--grass-green);
    }

    /* slider magna tempus  section */
    .slimt__card-one, .slimt__card-two, .slimt__card-three {
        margin-bottom: 0;
    }

    .slimt__img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .slimt__text {
        padding: 10px 91px 45px;
    }

    .slimt_p {
        padding: 100px 67px;
    }
    
    .slimt__arrows {
        position: relative;
    }

    .slimt__prev {
        top: 50%;
        left: 6%;
        border: 0;
        z-index: 2;
        width: 50px;
        height: 43px;
        background: none;
        position: absolute;
        color: var(--soft-white);
    }

    .slimt__next {
        top: 50%;
        border: 0;
        right: 6%;
        z-index: 2;
        width: 50px;
        height: 43px;
        background: none;
        position: absolute;
        background-color: none;
        color: var(--soft-white);
    }

    i.fa.fa-chevron-left.fa-4x.prev.slick-arrow:hover,
    i.fa.fa-chevron-right.fa-4x.next.slick-arrow:hover  {
        cursor: pointer;
        color: var(--white);
    }

    button.slimt__prev.hide-on-small-only:focus,
    button.slimt__next.hide-on-small-only:focus {
        outline: none;
        background-color: inherit;
    }

    /** sed tempus aliquam section **/
    a.sta__more-1, a.sta__more-2 {
        width: 17%;
        height: auto;
        max-width: 17%;
    }

    /** get notified  section  **/
    .gn__wrapper {
        padding: 10%;
    }

    .gn__form {
        display: flex;
        flex-direction: row;
    }

    div input.gn__label.valign-wrapper {
        width: 90%;
        height: 50px;
        margin-bottom: 0;
        padding: 0% 30px;
        font-size: 1.5rem;
        border-top-right-radius: 0;
        border-top-left-radius: 47px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 47px;
    }

    .gn__input {
        width: 46%;
        height: 50px;
        margin-bottom: 0;
        font-size: 1.1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gn__subtitle {
        font-size: 1.2rem;
        margin-bottom: 10%;
    }

    /** footer  **/
    .ftr__container {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    .ftr__wrapper {
        margin-top: 10%;
    }

    .col.s12.m6.l3.ftr__p0 {
        padding: 0%;
    }

    .col.s12.m6.l3.ftr__lines {
        border-right: 1px solid var(--line-gray);
    }

    a.ftr__a.frt__bor-3.ftr__bor-t{
        border-bottom: none;
    }

    .ftr__contact {
        padding: 4% 5% 6%;
    }
}